@keyframes zoomIn {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
 
body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
 
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.solar-system {
    display: flex;
    gap: 10px;
}
 
.planet {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* terra */
.planeta-terra {
    width: 250px;
    height: 270px;
    transition: transform 0.3s ease;
}
 
.planeta-terra:hover {
    transform: scale(1.5);
}
 
.zoom-link {
    display: block;
    cursor: pointer;
}
 
.zoom-link:active .planeta-terra {
    animation: zoomIn 2s forwards;
}
/* marte*/
.marte {
    display: flex;
    justify-content: center;
    align-items: center;
}
.planete-marte{
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease;
    margin-left: 20px;
}
.planete-marte:hover {
    transform: scale(1.5);
}
 /*Jupiter*/
.planeta-jupiter {
    width: 400px;
    height: 400px;
    margin: 50px 0 0 0;
    transition: transform 0.3s ease;
    margin-left: 50px;
}
 
.planeta-jupiter:hover {
    transform: scale(1.5);
}
 
.zoom-link {
    display: block;
    cursor: pointer;
}
 
/* Correção: Aplica a animação ao clicar na imagem */
.zoom-link:active .planeta-jupiter {
    animation: zoomIn s forwards;
}
.banner{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: black;
}