<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>📝 Consultar Notas</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <nav>
        <a href="/">🏫 Lançar Notas</a>
        <img src="/static/assets/A.png" alt="">
        <a href="consulta">📝 Consultar Notas</a>
    </nav>
    <div class="consulta_notas">
        <h2>Consultar Notas</h2>
        <table>
            <tr>
                <th>Nome do Aluno</th>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>
                <th>Média</th>
                <th>Status</th>
                <th>Deletar</th>
            </tr>
            {% for pro in prod %}
            <tr>
                <td>{{pro.nome}}</td>
                <td>{{pro.nota1}}</td>
                <td>{{pro.nota2}}</td>
                <td>{{pro.nota3}}</td>
                <td>{{ pro.media}}</td>
                <td>{{ pro.status}}</td>
                <td>
                    <a href="/excluir_notas?linha={{ loop.index0 }}" class="link_notas">Deletar Nota</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>