<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar IMC</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <nav>
        <a href="/">Lançar IMC</a>
        <img src="/static/assets/A.png" alt="">
        <a href="consulta">Consultar IMC</a>
    </nav>
    <div class="consulta_notas">
        <h2>Consultar Notas</h2>
        <table>
            <tr>
                <th>Nome</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>IMC</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
            {% for nota in prod %}
            <tr>
                <td>{{ nota.nome }}</td>
                <td>{{ nota.peso }}</td>
                <td>{{ nota.altura }}</td>
                <td>{{ nota.imc }}</td>
                <td>{{ nota.status }}</td>
                <td>
                    <a href="/excluir_notas?linha={{ loop.index0 }}" class="link_notas">Clique Aqui</a>
                </td>
            </tr>
            {% endfor %}
        </table>        
    </div>
</body>
</html>