<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lançar IMC</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <nav>
        <a href="/">Lançar IMC</a>
        <img src="/static/assets/A.png" alt="">
        <a href="consulta">Consultar IMC</a>
    </nav>
    <div class="cad_imc">
        <form action="/validar_imc" method="post" class="cad_imc_formulario">

            <h2>Cálculo de IMC</h2>
            
            <img src="/static/assets/imc1.png" alt="" 
            width="450">

            <label for="">Nome:</label>
            <input type="text" name="nome_paciente" id="nome_paciente">

            <div>
            <label for="">Altura (m):</label>
            <input type="text" name="altura" id="altura">

            <label for="">Peso (kg):</label>
            <input type="text" name="peso" id="peso">
            </div>

            <div class="cad_imc_botoes">
                <button type="submit" class="cad_imc_enviar">Enviar</button>
                <button type="submit" class="cad_imc_deletar">Deletar</button>
            </div>
        </form>
    </div>
    <script>
        function limparCampos() {
            document.getElementById("nome_paciente").value = "";
            document.getElementById("peso").value = "";
            document.getElmentById("altura").value = "";
        }
    </script>
</body>
</html>