:root{
    --cor-primaria: #5308b4;
    --cor-secundaria: #7a0df9;
    --cor-terciaria: #7cfb45;;


}

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
 
body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo{
    position: absolute;
    margin: -560px 0px 0px -1140px;
}

.design_1{
    position: absolute;
    margin: 560px 0px 0px -1400px;
}

.design_2{
    position: absolute;
    width: 500px;
    margin: -150px 0px 0px 1200px;
}
.box{
    border: 2px solid var(--cor-primaria);
    border-radius: 25px;
    padding: 120px 70px;
    align-items: center;
    background-color: #5308b4;
    margin: 40px 0 0 -200px;
    z-index: -2;
    font-family: monospace;
    font-size: x-large;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 900px;
}
.astro{
    position: absolute;
    width: 500px;
    display: flex;
    margin: 50px 0 0 1050px;
}

.title{
    position: absolute;
    border: 2px solid var(--cor-secundaria);
    border-radius: 35px;
    padding: 4px 100px;
    align-items: center;
    background-color: #7a0df9;
    margin: -350px 0 0 -250px;
    z-index: 1;
    font-family: monospace;
    color: white;
}

.botao {
    position: absolute;
    border: 2px solid var(--cor-terciaria);
    border-radius: 20px;
    padding: 3px 80px; 
    background-color: #49ef02;
    margin: 410px 0 0 -250px;
    z-index: 2;
    font-family: monospace;
    text-align: center;
}

.botao a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1px 200px;
}

.botao:hover {
    cursor: pointer;
    background-color: #3dc104;
}